table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

thead {
    background-color: #2193b0;
    color: white;
}

th, td {
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn {
    background-color: #2193b0;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #176c84;
}

.btn-regresar {
    margin: 20px;
    display: inline-block;
    color: white;
    background-color: #555;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-regresar:hover {
    background-color: #333;
}
