/* Tabla --- listas prodcutos*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #2193b0;
    color: white;
    padding: 12px;
    text-transform: uppercase;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

/* Botones */
td a {
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

td a:first-child {
    background-color: #2dce89;
}

td a:last-child {
    background-color: #e74c3c;
}

td a:hover {
    opacity: 0.85;
}
/* agregar productos */
form {
    max-width: 500px;
    margin: 40px auto;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #2193b0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #176d87;
}


.btn-regresar {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #6c757d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-regresar:hover {
    background-color: #5a6268;
}
.acciones-superiores {
    margin-bottom: 15px;
}
.acciones-superiores {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-regresar {
    background-color: #6c757d;
}

.btn-regresar:hover {
    background-color: #5a6268;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 26px;
    margin-bottom: 20px;
}
