body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    padding: 40px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.producto-linea {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

select, input[type="number"] {
    padding: 6px;
    font-size: 14px;
    width: 60%;
}

input[type="submit"], button {
    background-color: #2193b0;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

input[type="submit"]:hover, button:hover {
    background-color: #176c84;
}

.btn-regresar {
    margin-left: 15px;
    background-color: #6c757d;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-regresar:hover {
    background-color: #5a6268;
}

/*listar ventas*/
table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

thead {
    background-color: #2193b0;
    color: white;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f2f2f2;
}

.btn-detalle{
    background-color: #2193b0;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-detalle:hover {
    background-color: #176c84;
}

.btn-nueva-venta{
    background-color: #2193b0;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 5px;
}